/* Title */
.title {
    text-align: center;
}

/* Tags Group */
.tag-list {
    background-color: #f1f1f1;
    margin: 5px;
    text-align: center;
}

.tag-list .tag-checkbox-name {
    margin-right: 20px;
}

.tag-list .tag-details {
    color: gray;
    font-size: 80%;
    margin-right: 20px;
}

/* Root of the tab */
.feature-root-container {
    display: flex;
    align-items: left;
    height: calc(100% - 150px);
}

/* Style the tab */
.feature-list {
    overflow: hidden;
    overflow-y: auto;
    border: 1px solid #ccc;
    float: left;
    width: 400px;
}

/* Style the buttons that are used to open the tab content */
.feature-list button {
    margin: 1px;
    background-color: #f1f1f1;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 100%;
    display: flex;
    align-items: left;
}

.feature-list button.button-no-scenarios {
    background-color: pink;
}

/* Change background color of buttons on hover */
.feature-list button:hover {
    background-color: #ddd;
}

.feature-list button.button-no-scenarios:hover {
    background-color: lightcoral;
}

/* Create an active/current tablink class */
.feature-list button.active {
    background-color: #ccc;
}

.feature-list button.button-no-scenarios.active {
    background-color: salmon;
}

.feature-list button .button-title {
    width: 100%;
}

/* Style the tab content container */
.feature-details {
    margin-left: 10px;
    overflow: hidden;
    overflow-y: auto;
    text-align: center;
    width: 100%;
}

.feature-details .feature-hidden {
    display: none;
}

.feature-details .scenario-name {
    padding-top: 10px;
    padding-bottom: 10px;
}

.feature-details .scenario-name-light {
    background-color: white;
}

.feature-details .scenario-name-dark {
    background-color: aliceblue;
}
