    /* Title */
    .title {
        text-align: center;
    }

    /* Tags Group */
    .taggroup {
        background-color: #f1f1f1;
        margin: 5px;
        text-align: center;
    }

    /* Root of the tab */
    .tabroot {
        display: flex;
        align-items: left;
    }

    /* Style the tab */
    .featureList {
        overflow: hidden;
        border: 1px solid #ccc;
        float: left;
        width: 400px;
    }
    
    /* Style the buttons that are used to open the tab content */
    .featureList button {
        margin: 1px;
        background-color: #f1f1f1;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        width: 100%;
        display: flex;
        align-items: left;
    }
    
    /* Change background color of buttons on hover */
    .featureList button:hover {
        background-color: #ddd;
    }
    
    /* Create an active/current tablink class */
    .featureList button.active {
        background-color: #ccc;
    }

    .featureList button .buttontitle {
        width: 100%;
    }

    /* Style the tab content container */
    .tabcontentcontainer {
        margin-left: 10px;
        text-align: center;
        width: 100%;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border-top: none;
    }
    